.grow {
  flex-grow: 1;
}

button{
  padding: 5px 10px;
  border-radius: 4px;
}

.btn-primary {
  background-color: $color-dark-100;
  border: 1px solid $color-primary-200;
  color: $color-primary-200;
  height: fit-content;
  transition: all 0.3s;

  &:hover {
    color: $color-dark-100;
    background-color: $color-primary-200;
  }
}

.btn-secondary{
  color: $color-dark-400;
  border: 1px solid $color-dark-400;
  transition: all 0.3s;

  &:hover{
    background-color: $color-dark-100;
  }
}

.btn-disable {
  color: $color-dark-400;
  border: 1px solid $color-dark-400;
  transition: all 0.3s;
  opacity: 0.3;

  &:hover{
    opacity: 1;
  }
}

textarea {
  border: 1px solid;
}

input[type="text"],
input[type="number"] {
  border-bottom: 1px solid;
  padding: 4px 6px;
}

.w-50 {
  display: inline-block;
  width: 50px;
}

.w-80 {
  display: inline-block;
  width: 80px;
}

.w-100 {
  display: inline-block;
  width: 100px;
}

.w-200 {
  display: inline-block;
  width: 200px;
}
