$color-primary-100: #da7f0f;
$color-primary-200: #9e5905;
$color-primary-300: #744103;
$color-primary-400: #5e3503;
$color-primary-500: #1a0a01;
$color-dark-000: #ffffff;
$color-dark-100: #e3d9d9;
$color-dark-200: #d5cdcd;
$color-dark-300: #c2bbbb;
$color-dark-400: #575454;
$color-dark-900: #0c0b0b;

$color-shadow-100: #5754542a;
$color-shadow-200: #0c0b0b37;
